version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - DEBUG=False  # Disable debug mode in production
      - WEB_ENVIRONMENT=${WEB_ENVIRONMENT}
    command: python main.py
    restart: unless-stopped
    env_file:
      - ./backend/.env
    volumes:
      - static_volume:/app/static
    networks:
      - app-network
  
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - static_volume:/app/static:ro
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  static_volume:

networks:
  app-network:  # Create a dedicated network
    driver: bridge
