version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - DEBUG=False  # Disable debug mode in production
      - WEB_ENVIRONMENT=${WEB_ENVIRONMENT}
    command: python main.py
    restart: unless-stopped
    env_file:
      - ./backend/.env
    volumes:
      - static_volume:/app/static
  
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - static_volume:/app/static:ro
    depends_on:
      - backend

volumes:
  static_volume:
